[submodule "Small Projects/4-Social Links Profile"]
	path = Small Projects/4-Social Links Profile
	url = https://github.com/agni-tejas/4-Social-Links-Profile
[submodule "Small Projects/5-Blog Preview Card"]
	path = Small Projects/5-Blog Preview Card
	url = https://github.com/agni-tejas/5-Blog-preview-card
[submodule "Small Projects/5-Italian Pizza Menu"]
	path = Small Projects/5-Italian Pizza Menu
	url = https://github.com/agni-tejas/6-Italian-Pizza-Menu
[submodule "Small Projects/6-Italian Pizza Menu"]
	path = Small Projects/6-Italian Pizza Menu
	url = https://github.com/agni-tejas/6-Italian-Pizza-Menu
[submodule "Small Projects/7-Split landing page"]
	path = Small Projects/7-Split landing page
	url = https://github.com/agni-tejas/7-Split-landing-page
[submodule "Small Projects/8-Expanding Cards"]
	path = Small Projects/8-Expanding Cards
	url = https://github.com/agni-tejas/8-Expanding-Cards
[submodule "Small Projects/Small Projects/9-Pig Dice Game"]
	path = Small Projects/Small Projects/9-Pig Dice Game
	url = https://github.com/agni-tejas/9-Pig-Dice-Game
[submodule "Small Projects/9-Pig Dice Game"]
	path = Small Projects/9-Pig Dice Game
	url = https://github.com/agni-tejas/9-Pig-Dice-Game
[submodule "Small Projects/9-Guess My Number Game"]
	path = Small Projects/9-Guess My Number Game
	url = https://github.com/agni-tejas/10-Guess-My-Number
[submodule "Small Projects/10-Guess My Number Game"]
	path = Small Projects/10-Guess My Number Game
	url = https://github.com/agni-tejas/10-Guess-My-Number
[submodule "Small Projects/11-Product Review Card"]
	path = Small Projects/11-Product Review Card
	url = https://github.com/agni-tejas/11-Product-Review-Card
[submodule "Small Projects/04-Social Links Profile"]
	path = Small Projects/04-Social Links Profile
	url = https://github.com/agni-tejas/4-Social-Links-Profile
[submodule "Small Projects/05 Blog Preview Card"]
	path = Small Projects/05 Blog Preview Card
	url = https://github.com/agni-tejas/5-Blog-preview-card
[submodule "Small Projects/06 Italian Pizza Menu"]
	path = Small Projects/06 Italian Pizza Menu
	url = https://github.com/agni-tejas/6-Italian-Pizza-Menu
[submodule "Small Projects/07 Split landing page"]
	path = Small Projects/07 Split landing page
	url = https://github.com/agni-tejas/7-Split-landing-page
[submodule "Small Projects/08 Expanding Cards"]
	path = Small Projects/08 Expanding Cards
	url = https://github.com/agni-tejas/8-Expanding-Cards
[submodule "Small Projects/09 Pig Dice Game"]
	path = Small Projects/09 Pig Dice Game
	url = https://github.com/agni-tejas/9-Pig-Dice-Game
[submodule "Small Projects/12-Profile Card Component"]
	path = Small Projects/12-Profile Card Component
	url = https://github.com/agni-tejas/12-Profile-Card-Component
[submodule "Small Projects/13-Blurry Loading"]
	path = Small Projects/13-Blurry Loading
	url = https://github.com/agni-tejas/13-Blurry-Loading
[submodule "Small Projects/14-Password Generator"]
	path = Small Projects/14-Password Generator
	url = https://github.com/agni-tejas/14-Password-Generator
[submodule "Small Projects/15-Github Profiles"]
	path = Small Projects/15-Github Profiles
	url = https://github.com/agni-tejas/15-Github-Profiles
[submodule "Small Projects/16-Live User Filter"]
	path = Small Projects/16-Live User Filter
	url = https://github.com/agni-tejas/16-Live-User-Filter
[submodule "Small Projects/17-Testimonial Box Switcher"]
	path = Small Projects/17-Testimonial Box Switcher
	url = https://github.com/agni-tejas/17-Testimonial-Box-Switcher
