[submodule "Small Projects/4-Social Links Profile"]
	path = Small Projects/4-Social Links Profile
	url = https://github.com/agni-tejas/4-Social-Links-Profile
[submodule "Small Projects/5-Blog Preview Card"]
	path = Small Projects/5-Blog Preview Card
	url = https://github.com/agni-tejas/5-Blog-preview-card
[submodule "Small Projects/5-Italian Pizza Menu"]
	path = Small Projects/5-Italian Pizza Menu
	url = https://github.com/agni-tejas/6-Italian-Pizza-Menu
[submodule "Small Projects/6-Italian Pizza Menu"]
	path = Small Projects/6-Italian Pizza Menu
	url = https://github.com/agni-tejas/6-Italian-Pizza-Menu
[submodule "Small Projects/7-Split landing page"]
	path = Small Projects/7-Split landing page
	url = https://github.com/agni-tejas/7-Split-landing-page
