[submodule "Small Projects/4-Social Links Profile"]
	path = Small Projects/4-Social Links Profile
	url = https://github.com/agni-tejas/4-Social-Links-Profile
[submodule "Small Projects/5-Blog Preview Card"]
	path = Small Projects/5-Blog Preview Card
	url = https://github.com/agni-tejas/5-Blog-preview-card
[submodule "Small Projects/5-Italian Pizza Menu"]
	path = Small Projects/5-Italian Pizza Menu
	url = https://github.com/agni-tejas/6-Italian-Pizza-Menu
[submodule "Small Projects/6-Italian Pizza Menu"]
	path = Small Projects/6-Italian Pizza Menu
	url = https://github.com/agni-tejas/6-Italian-Pizza-Menu
[submodule "Small Projects/7-Split landing page"]
	path = Small Projects/7-Split landing page
	url = https://github.com/agni-tejas/7-Split-landing-page
[submodule "Small Projects/8-Expanding Cards"]
	path = Small Projects/8-Expanding Cards
	url = https://github.com/agni-tejas/8-Expanding-Cards
[submodule "Small Projects/Small Projects/9-Pig Dice Game"]
	path = Small Projects/Small Projects/9-Pig Dice Game
	url = https://github.com/agni-tejas/9-Pig-Dice-Game
[submodule "Small Projects/9-Pig Dice Game"]
	path = Small Projects/9-Pig Dice Game
	url = https://github.com/agni-tejas/9-Pig-Dice-Game
[submodule "Small Projects/9-Guess My Number Game"]
	path = Small Projects/9-Guess My Number Game
	url = https://github.com/agni-tejas/10-Guess-My-Number
[submodule "Small Projects/10-Guess My Number Game"]
	path = Small Projects/10-Guess My Number Game
	url = https://github.com/agni-tejas/10-Guess-My-Number
[submodule "Small Projects/11-Product Review Card"]
	path = Small Projects/11-Product Review Card
	url = https://github.com/agni-tejas/11-Product-Review-Card
[submodule "Small Projects/04-Social Links Profile"]
	path = Small Projects/04-Social Links Profile
	url = https://github.com/agni-tejas/4-Social-Links-Profile
